<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myCode.dao.UserDAO">
    <select id="getAllUser" resultType="userBean">
        select * from agent
    </select>
    <select id="getUserById" resultType="userBean" parameterType="int">
        select * from agent where ID = #{ID}
    </select>
    <select id="updateUser" parameterType="userBean">
        update agent set name=#{name},age=#{age} where ID=#{ID}
    </select>
    <delete id="delUser" parameterType="int">
        delete from agent where ID=#{ID}
    </delete>
    <select id="checkUser" parameterType="String">
        select password from agent where acount=#{account}
    </select>
</mapper>