<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myCode.dao.UserDAO">
    <select id="getAllUser" resultType="userBean">
        select * from agent
    </select>
    <select id="getUserById" resultType="userBean" parameterType="int">
        select * from agent where ID = #{ID}
    </select>
    <select id="updateUser" parameterType="userBean">
        update agent set name=#{name},age=#{age} where ID=#{ID}
    </select>
    <delete id="delUser" parameterType="int">
        delete from agent where ID=#{ID}
    </delete>
    <select id="checkUser" parameterType="String" resultType="String">
        select password from agent where acount=#{account}
    </select>
    <update id="updateStatus" parameterType="String">
        update agent set status='1' where acount=#{account}
    </update>
    <update id="userExit" parameterType="String">
        update agent set status='0' where acount=#{account}
    </update>
    <insert id="addUser" parameterType="UserBean">
        insert into agent(name,age,sex,tel,acount,password) values(#{name},#{age},#{sex},#{tel},#{account},#{password})
    </insert>
</mapper>