.b{
    height:100px;
    width:100px;
    position:absolute;
    bottom:0;
    margin-left:-50px;/*div宽度的一半*/
    left:50%;
}
body {
    margin:0;
    padding:0;
    background-color:#f4ede3;
    font-family:verdana,Arial,Helvetica,sans-serif;
    font-size:12px;
    line-height:1.5
}
#home {
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    width:100%;
    height:260px;
    margin:0;
    border:none;
    padding:0;
    background-color:white;
    background-image:url(../img/header.jpg);
    background-position:top center;
    background-repeat:no-repeat;
    font-family: 微软雅黑, serif
}
@media only screen and (max-width:767px) {
    #home {
        width: auto;
        position: static
    }
}
#header {
    width:auto
}
#header {
    position:relative;
    top:0;
    left:auto;
    width:950px;
    height:310px;
    margin:auto;
    border:none;
    padding:0;
    background:none
}
#pageTitle {
    width:auto;
    padding:0 10px
}
#pageTitle {
    position:relative;
    top:130px;
    left:0;
    width:740px;
    height:75px;
    margin:0;
    border:none;
    padding:0;
    background:none
}
#pageTitle h1 {
    float:right;
    margin:0;
    border:none;
    padding:0
}
#navigator {
    position:relative;
    top:150px;
    left:0;
    height:40px;
    clear:both
}
div {
    background-color:Transparent
}
* {
    margin:0;
    padding:0
}
#navList {
    min-height:40px;
    float:left
}
ul {
    word-break:break-all
}
#navList li {
    float:left
}
li {
    list-style:none;
    font-size: 18px;
}
.target{
    color: crimson;
}
#navList a {
    display:block;
    width:70px;
    height:31px;
    float:left;
    text-align:center;
    padding-top:9px;
    font-size:16px;
    font-family:微软雅黑,微软雅黑,微软雅黑,微软雅黑
}
a:link {
    color: red;
    font-family:Arial,Helvetica,sans-serif;
    font-size:16px;
    font-weight:normal;
    text-decoration:none
}